{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create new page
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>
    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        <label for="new_title">Title</label>
        <textarea class="form-control" name="title" rows="1" style="height: auto;width: auto;"></textarea>

        <label for="new_description">Description</label>
        <textarea class="form-control" name="description" rows="5" cols="100" style="height: auto;width: auto;"></textarea>
        
        <input class="btn btn-light" type="submit" value="Submit">
    </form>
{% endblock %}